@model BasicSocial.Core.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @using (Html.BeginForm("ComposeMessage", "Home", FormMethod.Post, new { @class = "ui form", role = "form" }))
      {
          @Html.Hidden("ToUserId", "3")
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="field">
              @Html.Label("Subject")
              <div class="col-md-10">
                  @Html.TextBox("Subject")
                  @Html.ValidationMessage("Subject", "", new { @class = "text-danger" })
              </div>
          </div>
          <div class="field">
              @Html.Label("Content")
              <div class="col-md-10">
                  @Html.TextBox("Content")
                  @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
              </div>
          </div>

          <input type="submit" value="Log in" class="large ui primary button" />
      }
</div>
</body>
</html>