@using BasicSocial.Core
@model User
@{
}
<div class="container">
    
    <div class="panel panel-primary">
        <div class="panel-heading">My Details</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <h4><b>User Name</b> : @Model.UserName</h4>
                </div>
                <div class="col-sm-10">
                    <h4><b>First Name</b> : @Model.FirstName</h4>
                </div>
                <div class="col-sm-10">
                    <h4><b>Last Name</b> : @Model.LastName</h4>
                </div>
                <div class="col-sm-10">
                    <h4><b>Age</b> : @Model.Age</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">My Feed</div>
        <div class="panel-body">
            
            @if (Model.ReceivedPosts.Any())
            {
                foreach (var post in Model.ReceivedPosts.OrderByDescending(x => x.Id))
                {
                    <div class="row">
                        <div class="col-sm-10">
                            <h4><b>From</b>: @post.Sender.UserName</h4>
                            <p><b>Subject</b>: @post.Subject</p>
                            
                            @if (post is TextPost)
                            {
                                <p><b>Content</b>: @(((TextPost)post).Content)</p>
                            }
                            else
                            {
                                <p><img src="@(((ImagePost)post).Url)"/></p>
                            }
                        </div>
                    </div>
                    <hr />}
            }
            else
            {
                <div class="row">
                <div class="col-sm-10">
                <h4>Empty Feed</h4>
                </div>
                </div>
            }

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Post to my feed</div>
        <div class="panel-body">
            @using (Html.BeginForm("PostToMyFeed", "Home", FormMethod.Post))
            {
                @Html.Hidden("ToUserId", Model.Id)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.Label("Subject")
                    @Html.TextBox("Subject", string.Empty, new {@class = "form-control"})
                    @Html.ValidationMessage("Subject", "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.Label("ImagePost")
                    @Html.CheckBox("ImagePost", new {id = "imagePost"})
                </div>
                <div class="form-group" id="contentGroup">
                    @Html.Label("Content")
                    @Html.TextBox("Content", string.Empty, new {@class = "form-control"})
                    @Html.ValidationMessage("Content", "", new {@class = "text-danger"})
                </div>
                <div class="form-group" id="urlGroup" style="display: none;">
                    @Html.Label("Url")
                    @Html.TextBox("Url", string.Empty, new {@class = "form-control", id = "urlText"})
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            }

        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Friends</div>
        <div class="panel-body">
            
            @foreach (var friend in Model.Friends)
            {
                <div class="row">
                    <div class="col-sm-10">
                        <h4><b>User Name</b> : @friend.UserName</h4>
                        <a href="/home/friendfeed?theiruserid=@friend.Id" class="btn btn-info" role="button">Profile</a>
                        <a href="/home/conversation?theiruserid=@friend.Id" class="btn btn-info" role="button">Message</a>
                        <a href="/home/removefriend?theiruserid=@friend.Id" class="btn btn-danger" role="button">Remove</a>
                    </div>
                </div>
                <hr/>
            }
    
            <br>
            <div class="row">
                <div class="col-sm-10">
                    <a href="/home/findfriends" class="btn btn-primary" role="button">Find Friends</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#imagePost').click(function () {
            $("#urlGroup").toggle();
            $("#contentGroup").toggle();
        });
    });
</script>