@model BasicSocial.Core.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div>
    <h3>Received</h3>
    @foreach (var message in Model.PrivateMessagesReceived)
    {
        <span>@message.Subject</span>
        <span>@message.Content</span>
        <br/>
    }
    <h3>Sent</h3>
    @foreach (var message in Model.PrivateMessagesSent)
    {
        <span>@message.Subject</span>
        <span>@message.Content</span>
        <br />
    }
    
    @Html.ActionLink("ComposeMessage", "ComposeMessage", "Home")
</div>
</body>
</html>